*.pyc
__pycache__
db.sqlite3
.env
.drf/
media/
static/
*.log
*.pot
*.mo
*.swp
.vscode/
.idea/
node_modules/
*.bak
*.tmp
*.DS_Store
*.coverage
coverage/
htmlcov/
migrations/*
!migrations/__init__.py
test-results/
*.egg-info/
build/
dist/
*.sqlite3